html {
  height: 100%;
  display: flex;
}

body {
  margin: auto;
  font-family: "Lucida Console", "Courier New", monospace;
  background: #232222;
  perspective: 500px;
  color: #ffdab9;
  text-align: center;
}

a {
  color: #f2d4cb;
}
